/*Google Fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Rampart+One&display=swap');

/*Gereral styles*/
:root {
    --primary-font: "Boogaloo", serif;
    --secondary-font: "Rampart One", serif;
    --primary-color: #96ad3c;
    /*sushi*/
    --secondary-color: #120808;
    /* night rider */
    --highlight-color: #e5ff00;
    /* chartruse */
    --highlight-color-light: #ffffff;
    /* white */
    --highlight-color-headers: #ff00d5;
    /*chartruse*/
}

/*Global styles*/

body {
    font-family: var(--primary-font);
    color: var(--secondary-color);
    display: flex;
    background-color: var(--primary-color);
}

p {
    width: 100%;
    text-align: start;
    margin-top: 0px;
    margin-right: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 1.5em;
    display: flex;
}

main {
    display: flex;
}

h1,
h2 {
    text-align: center;
    margin: 2rem;
}

h1,
h3 {
    font-family: var(--primary-font);
    color: var(--secondary-color);
    text-transform: uppercase;
}

h2 {
    font-family: var(--secondary-font);
    color: var(--highlight-color-headers);
}



/*Navbar*/
#navbar {
    background-color: #120808;
    color: var(--highlight-color);
    font-size: 30px;
    align-items: end;
    display: flex;
}

#navbar .logo {
    width: 50px;
}

/*carousel*/

.carousel-inner {
    height: 0;
    padding-bottom: 65%;
}

.carousel-item {
    position: absolute !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.carousel-item img {
    height: 100%;
    object-fit: contain;
}

#carousel-indicators {
    color: var(--highlight-color);
}

/*Intro section*/
.intro-image {
    height: 300px;
    width: 300px;
    margin-bottom: 24px;
    display: flex;
    padding-left: 0;
    gap: 50px;
}