/*Google Fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Rampart+One&display=swap');

/*Gereral styles*/
:root {
    --primary-font: "Boogaloo", serif;
    --secondary-font: "Rampart One", serif;
    --primary-color: #96ad3c;
    /*sushi*/
    --secondary-color: #120808;
    /* night rider */
    --highlight-color: #e5ff00;
    /* chartruse */
    --highlight-color-light: #ffffff;
    /* white */
    --highlight-color-headers: #ff00d5;
    /*chartruse*/
}

/*Global styles*/

body {
    font-family: var(--primary-font);
    color: var(--secondary-color);
    display: flex;
    background-color: var(--primary-color);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

p {
    width: 100%;
    text-align: start;
    margin-top: 0px;
    margin-right: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.5em;
    display: flex;
}


main {
    display: flex;
    background-color: orange;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative
}

h1,
h2 {
    text-align: center;
    margin: 2rem;
}

h1,
h3 {
    font-family: var(--primary-font);
    color: var(--secondary-color);
    text-transform: uppercase;
}

h2 {
    font-family: var(--secondary-font);
    color: var(--highlight-color-headers);
}

footer {
    display: flex;
}

/*Navbar*/
#navbar {
    background-color: #120808;
    color: var(--highlight-color);
    font-size: 30px;
    align-items: end;
    display: flex;
    width: 100%;
    position: sticky;
    top: 0;
}

.nav-container {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

#navbar .logo {
    width: 50px;
}

.nav-link {
    font-size: 30px;
}

/*merchandise classes*/

.records-section {
    display: flex;
    background-color: red;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    padding: 2em;
}

/*biography classes*/
.biography {
    display: flex;
    background-color: aqua;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 35px;

}

.biography img {
    max-height: 350px;
    min-width: 300px;
    border: solid 2px var(--highlight-color);
    margin-top: 10px;
    margin-bottom: 10px;
}

.artwork {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    flex-direction: row;
    justify-content: center;
    object-fit: cover;
    min-height: 505px;
    padding: 0 0;
}

/*carousel*/

.carousel-inner {
    height: 0;
    padding-bottom: 65%;
}

.carousel-item {
    position: absolute !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.carousel-item img {
    height: 100%;
    object-fit: contain;
}

#carousel-indicators {
    color: var(--highlight-color);
}

.carousel-control-next,
.carousel-control-prev {
    display: none;
}

/*introduction cards*/

#introduction .card {
    margin-bottom: 10px;
    display: inline-block;
}

.card-img-top {
    min-width: 300px;
    height: 300px;
}


/*merchandise cards*/
.merchandise .card {
    font-size: 12px;
    border: var(--highlight-color);
    min-height: 424.5px;
}

/*success page*/
.success {
    font-size: 25px;
    text-align: center;
}

/*Youtube video*/
.container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

iframe {
    aspect-ratio: 16 / 9;
    width: 100% !important;
}

/*Buttons*/

.custom-button-filled {
    border: 2px solid var(--secondary-color);
    background-color: var(--highlight-color);
    color: var(--secondary-color);
}

.custom-button-filled:hover {
    border: 2px solid var(--secondary-color);
    background-color: var(--highlight-color-headers);
    color: white;
}

.btn-lg {
    margin-bottom: 15px;
    margin-top: 15px;
}

/*Footer/contact*/
#contact .social-links i {
    color: var(--secondary-color);
    font-size: 1.9rem;
    transition: color 0.3s ease-in-out;
}

#contact .social-links i:hover {
    color: var(--highlight-color-headers);
}


/* Media queries */

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {

    /* Make all service cards the same height for consistency */
    #introduction .card-body {
        min-height: 191px;
    }
}

/* Large devices (small laptops, 992px and up) */
@media screen and (min-width: 992px) {

    /* Make all service cards the same height for consistency */
    #introduction .card-body {
        min-height: auto;
    }
}

/* xl devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {

    /* make all service cards the same height for consistency */
    #introduction .card-body {
        min-height: 220px;
    }
}

/* xxl devices (larger desktops, 1400px and up) */
@media screen and (min-width: 1400px) {

    /* make all service cards the same height for consistency */
    #introduction .card-body {
        min-height: 195px;
    }
}